In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
#Create a pandas dataframe (DataFrame name as df) (10 observations and 5 features)
d = {'Name':['Abinaya','Bheem','Chitra','Daniel','Ezekiel','Franco','Gautam','Harish','Injila','Joshua'],'Age':[19,22,np.nan,18,19,19,21,np.nan,17,20],'Gender':['F','M','F','M','M','M','M','M','F','M'],'Salary':[30000,40000,50000,60000,70000,80000,90000,100000,110000,120000],'Blood Group':['B+','A+','AB+','O+','AB-','O-','B+','AB+','O+','A+']}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

      Name   Age Gender  Salary Blood Group
0  Abinaya  19.0      F   30000          B+
1    Bheem  22.0      M   40000          A+
2   Chitra   NaN      F   50000         AB+
3   Daniel  18.0      M   60000          O+
4  Ezekiel  19.0      M   70000         AB-
5   Franco  19.0      M   80000          O-
6   Gautam  21.0      M   90000          B+
7   Harish   NaN      M  100000         AB+
8   Injila  17.0      F  110000          O+
9   Joshua  20.0      M  120000          A+

In [6]:
#Check the info of df
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         10 non-null     object
 1   Age          8 non-null      float64
 2   Gender       10 non-null     object
 3   Salary       10 non-null     int64
 4   Blood Group  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes
None

In [7]:
#Check the descriptive statistics of d
print(df.describe())

            Age         Salary
count   8.00000      10.000000
mean   19.37500   75000.000000
std     1.59799   30276.503541
min    17.00000   30000.000000
25%    18.75000   52500.000000
50%    19.00000   75000.000000
75%    20.25000   97500.000000
max    22.00000  120000.000000

In [8]:
#Check the 4'th index observation with 'loc' slicing operator
observation = df.loc[3]
print(observation)

Name           Daniel
Age              18.0
Gender              M
Salary          60000
Blood Group        O+
Name: 3, dtype: object

In [9]:
#Check the null values in your df
null_counts = df.isnull().sum()
print(null_counts)

Name           0
Age            2
Gender         0
Salary         0
Blood Group    0
dtype: int64